@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat";
}

body {
    padding: 50px;
}

form {
    margin: auto;
    padding: 15px;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

input {
    width: 70%;
    height: 50%;
}

#submit-button {
    display: block;            
    margin: 0 auto;            
    margin-top: 20px;      
    width: 40%;             
    border: 1px solid black;
    border-radius: 10px;
    background-color: #40e667;
}

#sumbit-button:hover {
    background-color: #10e14b44;
    cursor: pointer;
}

#submit-button:active {
    background-color: #1f883d;
}