@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

body{ 
    margin: 30px;
    padding: 10px; 
}

h1{
    padding-top: 5px;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1{ 
    grid-area: 1 / 1 / 2 / 2; 
}

.div2{
    grid-area: 1 / 2 / 2 / 3; 
}

.div1, .div2{
    padding: 10px;
}